:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --text-color: #ffffff;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --footer-color: #2f303a;
  --background-body: #f5f5f5;
  --background-team: #f5f4fa;
  --header-border-bottom: #ececec;
  --border-color-clients-icon: #afb1b8;
  --hover-focus-color: #188ce8;
  --hero-background: #2f303a;
  --transition-property: cubic-bezier(0.4, 0, 0.2, 1);
  --color-address-footer: rgba(255, 255, 255, 0.6);
  --background-color-icon-footer: rgba(255, 255, 255, 0.1);
  --box-shadow: rgba(0, 0, 0, 0.15);
  --hero-background: rgba(47, 48, 58, 0.4);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --input-textarea-border: rgba(33, 33, 33, 0.2);
  --footer-icon-link: rgba(255, 255, 255, 0.1);
  --input-placeholder: rgba(255, 255, 255, 0.6);
  --background-overlay-text: rgba(33, 150, 243, 0.9);
  --porfolio-text-border: #eeeeee;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* body */
body {
  background: var(--background-body);
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* button studio */
.hero-button.pointer {
  cursor: pointer;
}

.hero-button {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.99;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 10px 32px;
  background: var(--accent-color);
  color: var(--text-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
  border-radius: 4px;
}

.hero-section .button:focus,
.hero-section .button:hover {
  color: var(--hover-focus-color);
}

.checkbox-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  transition-property: background, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.accept input:checked + .checkbox-btn {
  background: var(--accent-color);
  border: 0.2px solid var(--accent-color);
}

.agree {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
}

.agree-link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.mailing-btn {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 12px;
  color: var(--text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.mailing-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  margin-left: 28px;
}

/* portfolio button */
.btn {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  margin-right: 8px;
  border-radius: 4px;
  color: var(--secondary-color);
  background-color: var(--background-team);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.pointer:nth-child(5) {
  margin-right: 0;
}

.buttons-list {
  padding-top: 94px;
  padding-bottom: 94px;
  align-items: center;
}

.btn-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
}

.btn:hover,
.btn:focus {
  color: var(--text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Logo header */
.logo-web {
  color: var(--accent-color);
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 93px;
}

.logo-header:focus {
  color: var(--accent-color);
}

.logo-web {
  color: var(--accent-color);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

/* site-nav */
.nav-title {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  margin-left: 93px;
}

.nav-link-list {
  margin-right: 50px;
  width: 48px;
}

.nav-link .link,
.nav-link .link.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link .link:hover,
.nav-link .link:focus {
  color: var(--accent-color);
}

.current::after {
  display: block;
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  top: 80px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* portfolio-nav */
.active.current::after {
  display: block;
  content: "";
  position: absolute;
  width: 78px;
  height: 4px;
  top: 80px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-background);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  max-height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: var(--text-color);
}

.modal-form {
  margin-top: 12px;
}

.modal .close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-button:hover,
.modal .close-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  padding-top: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  cursor: pointer;
}

.form-element label {
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: var(--primary-color);
}

.accept label {
  display: contents;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.input-wrap {
  position: relative;
  padding-top: 4px;
}

.form-element svg {
  position: absolute;
  top: 28px;
  left: 12px;
  transform: translateY(-50%);
}

.form-element input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid var(--input-textarea-border);
  border-radius: 4px;
  outline: none;
  transition-property: border, fill, svg;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element input:focus {
  border: 1px solid var(--accent-color);
}

.form-element input:focus + svg {
  fill: var(--accent-color);
}

.form-element textarea {
  font-weight: 400;
  font-size: 12px;
  /* line-height: 1.7px; */
  letter-spacing: 0.01em;
  padding: 12px 16px;
  height: 138px;
  /* color: rgba(117, 117, 117, 0.5); */
  border: 1px solid var(--input-textarea-border);
  border-radius: 4px;
  margin-top: 10px;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.accept {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 11px;
}

.checkbox-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  transition-property: background, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.accept input:checked + .checkbox-btn {
  background: var(--accent-color);
  border: 0.2px solid var(--accent-color);
}

.agree {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
}

.agree-link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.submit-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.submit-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 30px auto 40px;
  background-color: var(--accent-color);
  border-radius: 4px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-modal:hover {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */