/* advantages-переваги */

.container-skills {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
  .section-skills {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .icon-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--background-team);
    margin-bottom: 30px;
    border-radius: 4px;
  }
  
  .skills {
    display: flex;
    gap: 30px;
  
    width: 270px;
    height: 120px;
    background-color: var(--background-team);
    margin-bottom: 30px;
    border-radius: 4px;
  }
  
  .skills-list {
    display: block;
  }
  
  .skills-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    text-transform: uppercase;
  }
  
  .skills-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    margin-top: 10px;
  }